<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="RefundController">
    <div class="col w-md b-r bg-auto">
        <div class="wrapper-s b-b clearfix">
            <div class="pull-left m-t-sm m-b-sm">
                <span class="padder"> 退款处理 </span>
            </div>
        </div>
        <!--<div class="input-group r-2x m-t-md m-b-xs m-l m-r">-->
            <!--<input type="text" class="form-control input-sm btn-rounded" placeholder="输入订单号" ng-model="query">-->
            <!--<span class="input-group-btn">-->
              <!--<button class="btn btn-default btn-sm btn-rounded" ng-click="searchRequestByOrderNo(query)"><i-->
                      <!--class="fa fa-search"></i></button>-->
            <!--</span>-->
        <!--</div>-->
        <div class="wrapper hidden-sm hidden-xs">
            <ul class="nav nav-pills nav-stacked nav-sm">
                <li ng-repeat="requestState in requestStates"
                    ng-click="queryRefundRequest({requestState: requestState})"
                    ng-class="{true:'active', false:''}[requestState == selectedReqeustState]">
                    <a ng-bind="requestStatesMap[requestState]"></a>
                </li>
            </ul>
        </div>

        <form class="form-group m-sm ">
            <label class="m-l-xs m-t m-b-xs font-bold" for="orderNo">订单号: </label>
            <input type="number" id="orderNo" class="form-control input-sm rounded" placeholder="输入订单号"
                   ng-model="query.orderNo">
            <label class="m-l-xs m-t m-b-xs font-bold" for="startTime">开始日期: </label>
            <input type="date" id="startTime" class="form-control input-sm rounded"
                   ng-model="query.startTime">

            <label class="m-l-xs m-t m-b-xs font-bold" for="endTime">结束日期: </label>
            <input type="date" id="endTime" class="form-control input-sm rounded"
                   ng-model="query.endTime">


            <div class="text-center">
                <button type="submit" class="btn btn-success rounded m-t-md padder-lg" id="search"
                        ng-click="queryRefundRequest(query)">搜索
                </button>
            </div>
        </form>

    </div>
    <div class="col">
        <div class="wrapper-s b-b clearfix">
            <div class="pull-left m-t-sm m-b-sm">
                <label class="b-l b-l-2x b-l-info padder" ng-bind="requestStatesMap[selectedReqeustState]"></label>
            </div>
            <div class="pull-right m-t-xs" ng-show="selectedReqeustState == requestStates[0] && havaSelected">
                <btn class="btn btn-success m-r" ng-click="showRefundDialog()">
                    退款
                </btn>
                <btn class="btn btn-danger m-r" data-toggle="modal" data-target="#rejectModal">
                    拒绝
                </btn>
            </div>
            <div class="pull-right m-t-xs" ng-show="selectedReqeustState == requestStates[1] && havaSelected">
                <btn class="btn btn-success m-r" ng-click="showRefundDialog()">
                    重新退款
                </btn>
            </div>
        </div>
        <div class="modal fade" id="approveModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">同意退款</h5>
                    </div>
                    <div class="modal-body clearfix">
                        <div class="col-lg-11 col-lg-offset-1">
                            <span>将要为以下订单申请退款</span>
                        </div>
                        <div class="col-lg-6 col-md-offset-1 m-t-xs">
                            <p ng-repeat="orderNo in refundRequestOrderNos">{{orderNo}}</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <form name=alipayment action="" method=post target="_blank">
                            <input type="hidden" size="30" name="ids" value="{{refundRequestIds}}"/>
                            <button class="btn btn-success" ng-click="postApproveRefund()">
                                确 认
                            </button>
                            <button class="btn btn-danger" data-dismiss="modal">取 消</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="approveRepostModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">重新申请退款</h5>
                    </div>
                    <div class="modal-body clearfix">
                        <div class="col-lg-11 col-lg-offset-1">
                            <span>将要为以下订单重新申请退款：</span>
                        </div>
                        <div class="col-lg-6 col-md-offset-1 m-t-xs">
                            <p ng-repeat="orderNo in refundRequestOrderNos">{{orderNo}}</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <form name=alipayment2 action="" method=post target="_blank">
                            <input type="hidden" size="30" name="ids" value="{{refundRequestIds}}"/>
                            <button class="btn btn-success" ng-click="repostRefund()">
                                确 认
                            </button>
                            <button class="btn btn-danger" data-dismiss="modal">取 消</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="rejectModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">拒绝退款</h5>
                    </div>
                    <form id="textarea" name="textarea">
                        <div class="modal-body clearfix">
                            <div class="col-lg-10 col-lg-offset-1">
                                <span>拒绝退款原因: </span>
                            </div>
                            <div class="col-lg-10 col-lg-offset-1">
                            <textarea rows=4 class="w-full form-control" style="resize:none;"
                                      ng-model="refuseReason" required></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" ng-click="rejectRefund(refuseReason, textarea.$valid)">确 认
                            </button>
                            <button class="btn btn-danger" data-dismiss="modal">取 消
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="modal fade" id="refundRequestModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">修改退款申请</h5>
                    </div>
                    <div class="modal-body clearfix">
                        <div class="">
                            <label class="col-sm-4 control-label text-right">订单号:</label>

                            <div class="col-sm-7 col-sm-offset-1">
                                <p class="form-control-static m-t-n-xs text-limit"
                                   ng-bind="selectedModifyRequest.orderNo"></p>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="">
                            <label class="col-sm-4 control-label text-right">金额:</label>

                            <div class="col-sm-7 col-sm-offset-1">
                                <input type="number" ng-model="newRefundFee"/>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="">
                            <label class="col-sm-4 control-label text-right">原因:</label>

                            <div class="col-sm-7 col-sm-offset-1">
                                <p class="form-control-static m-t-n-xs text-limit"
                                   ng-bind="selectedModifyRequest.refundReason"></p>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="">
                            <label class="col-sm-4 control-label text-right">描述:</label>

                            <div class="col-sm-7 col-sm-offset-1">
                                <p class="form-control-static m-t-n-xs text-limit"
                                   ng-bind="selectedModifyRequest.refundDesc"></p>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="">
                            <label class="col-sm-4 control-label text-right">申请人:</label>

                            <div class="col-sm-7 col-sm-offset-1">
                                <p class="form-control-static m-t-n-xs text-limit"
                                   ng-bind="selectedModifyRequest.createBy"></p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" ng-click="postRefundRequest(newRefundFee)">提交申请
                        </button>
                        <button class="btn btn-danger" data-dismiss="modal">取 消</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper clearfix">
            <div style="min-height: 520px">
                <table class="table table-bordered">
                    <thead class="bg-light lt" ng-hide="showedRefundRequests.length <= 0">
                    <tr>
                        <th width="10">
                            <input type="checkbox"
                                   ng-model="selectAll"
                                   ng-change="changeSelectionAll({data: showedRefundRequests})">
                        </th>
                        <th ng-show="selectedReqeustState == requestStates[1]">批次号</th>
                        <th>订单号</th>
                        <th>金额</th>
                        <th>创建时间</th>
                        <th>退款状态</th>
                        <th ng-hide="selectedReqeustState == requestStates[0]">处理人</th>
                        <th ng-show="selectedReqeustState == requestStates[3]">拒绝原因</th>
                        <th ng-show="selectedReqeustState == requestStates[4]">失败原因</th>
                        <th ng-show="selectedReqeustState == requestStates[4]">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="refundRequest in showedRefundRequests"
                        ng-click="changeSelection(refundRequest)">
                        <td width="10">
                            <input type="checkbox" ng-model="refundRequest.selected"
                                   ng-click="changeSelection(null);$event.stopPropagation()">
                        </td>
                        <td class="" ng-show="selectedReqeustState == requestStates[1]">{{refundRequest.batchNo}}</td>
                        <td class=""><a class="text-decorline text-info"
                                        ng-bind="refundRequest.orderNo"
                                        ui-sref="app.order_detail({orderNo:refundRequest.orderNo})">
                        </a></td>
                        <td class="">{{refundRequest.refundFee}}</td>
                        <td class="">{{refundRequest.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td class="">{{requestStatesMap[refundRequest.refundState]}}</td>
                        <td class="" ng-hide="selectedReqeustState == requestStates[0]">{{refundRequest.auditorId}}</td>
                        <td class="" ng-show="selectedReqeustState == requestStates[3]">{{refundRequest.feedback}}</td>
                        <td class="" ng-show="selectedReqeustState == requestStates[4]">
                            {{errCodeMap[refundRequest.refundLog]}}
                        </td>
                        <td class="" ng-show="selectedReqeustState == requestStates[4]">
                            <a class="text-decorline text-success" data-toggle="modal" data-target="#refundRequestModal"
                               ng-click="modifyRequest(refundRequest)">修改申请</a>
                        </td>
                    </tr>
                    <tr ng-show="showedRefundRequests.length <= 0">
                        <td colspan="8" class="text-lg text-center">暂无<span class="font-bold">{{requestStatesMap[selectedReqeustState]}}</span>的退款申请
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center" ng-hide="showedRefundRequests.length < 12 && pageInfo.pageNo == 0">
                <button class="btn btn-default" ng-disabled="pageInfo.pageNo <= 0"
                        ng-click="getRefundRequestListByPage('prev')">上一页
                </button>
                <span>第{{pageInfo.pageNo+1}}页</span>
                <button class="btn btn-default" ng-disabled="showedRefundRequests.length < pageInfo.pageSize"
                        ng-click="getRefundRequestListByPage('next')">下一页
                </button>
            </div>
        </div>
    </div>
</div>