<div class="hbox hbox-auto-xs hbox-auto-sm bg-white" ng-controller="ResourceController">
    <div class="col bg-white-only">
        <div class="wrapper b-b clearfix">
            <div class="pull-left m-t-xs">
                <label class="b-l b-l-2x b-l-info padder">全部商品</label>
            </div>
            <div class="pull-right">
                <label class="btn btn-primary m-t-n m-b-n" data-toggle="modal" data-target="#addModal"
                       ng-click="editResourceItem = {};">
                    添加商品
                </label>
            </div>
        </div>
        <div class="wrapper clearfix">
            <table class="table table-bordered">
                <thead class="bg-light lt">
                <tr>
                    <th style="width: 10%">商品编号</th>
                    <th style="width: 10%">名称</th>
                    <th style="width: 10%">类型</th>
                    <th style="width: 10%">规格</th>
                    <th style="width: 10%">价格</th>
                    <th style="width: 10%">单位</th>
                    <th style="width: 10%">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in items | filter:query |orderBy:['type','size']">
                    <td class="text-limit w-sm">{{item.code}}</td>
                    <td class="text-limit w-sm">{{item.name}}</td>
                    <td class="text-limit w-sm">{{item.type}}</td>
                    <td class="text-limit w-sm">{{item.size}}</td>
                    <td class="text-limit w-sm">{{item.price}}</td>
                    <td class="text-limit w-sm">{{item.unit}}</td>
                    <td class="text-limit w-sm">
                        <a class="text-decorline m-r"
                           style="color: #7266ba"
                           data-toggle="modal"
                           data-target="#editModal"
                           ng-click="showUpdateDialog(item)">编辑
                        </a>
                        <a class="text-decorline"
                           style="color: #ec2121"
                           data-toggle="modal"
                           data-target="#deleteModal"
                           ng-click="showDeleteModal(item)">删除
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog">
            <div class="modal-dialog form-validation">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">新增商品</h5>
                    </div>
                    <div class="modal-body clearfix">
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">商品编号:</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control"
                                       ng-model="editResourceItem.code" required>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">名称:</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="editResourceItem.name" required>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">类型:</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control"
                                       ng-model="editResourceItem.type" required>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">规格:</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="请输入正整数" ng-model="editResourceItem.size" ng-pattern="/^[0-9]+$/" required>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">价格:</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="editResourceItem.price" placeholder="请输入正数"
                                       ng-pattern="/^([0-9]+//.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*//.[0-9]+])|([0-9][1-9]*[0-9]*)$/" required>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">单位:</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="editResourceItem.unit" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editResource()">
                            保存
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">编辑商品</h5>
                    </div>
                    <div class="modal-body clearfix">
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">商品编号:</label>
                            <div class="col-sm-7">
                                <p class="form-control-static m-t-n-xs text-limit"
                                   ng-bind="editResourceItem.code"></p>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">名称:</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="editResourceItem.name" required>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">类型:</label>
                            <div class="col-sm-7">
                                <p class="form-control-static m-t-n-xs text-limit"
                                   ng-bind="editResourceItem.type"></p>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">规格:</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="editResourceItem.size" required>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">价格:</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="editResourceItem.price" required>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="row">
                            <label class="col-sm-3 control-label text-right">单位:</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="editResourceItem.unit" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editResource()">
                            保存
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">删除商品</h5>
                    </div>
                    <div class="modal-body clearfix">
                        <div class="col-lg-1">
                            <span class="text-2x fa fa-question-circle text-warning-dker"></span>
                        </div>
                        <div class="col-lg-11">
                            <span ng-bind="deleteHintMessage"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-dismiss="modal" ng-click="removeItem()">删 除</button>
                        <button class="btn btn-default" data-dismiss="modal">取 消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>