<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="deviceController">
    <div class="bg-auto">
        <div class="wrapper-s b-b clearfix">
            <div class="pull-left m-t-sm m-b-sm">
                <span class="padder"> 设备状态 </span>
            </div>
            <div class="pull-left m-t-sm m-b-sm">
                <span class="padder b-l b-l-2x b-l-info" > </span>
            </div>
            <div class="f_Left row" style="width: 1000px">
                <form>
                    <div class="col-sm-4">
                        <label class="m-l-md w-xms m-t-sm m-b-xs font-bold f_Left" style="width: 60px" for="orderNo">设备号: </label>
                        <input type="number" id="orderNo" class="form-control m-t-xs f_Left" style="width: 200px" placeholder="输入设备号"
                               ng-model="searchDeviceId" >
                    </div>
                    <div class="col-sm-4" ng-if="false">
                        <label class="m-l-xs m-t-sm m-b-xs font-bold f_Left"  style="width: 60px" for="userId">设备名: </label>
                        <input type="number" id="userId" class="form-control m-t-xs f_Left" style="width: 200px" placeholder="输入设备名"
                               ng-model="query.user_id">
                    </div>
                    <div class="col-sm-4 m-l-xxxl">
                        <button type="submit" class="btn btn-primary btn-sm m-l-xs m-t-xs font-bold f_Left" data-toggle="modal" data-target="#addModal"
                               ng-click="searchDeviceInfo()">
                            查询
                        </button>
                        <button type="submit" class="btn btn-primary btn-sm m-l-xs m-t-xs font-bold f_Left" data-toggle="modal" data-target="#addModal"
                                ng-click="showAllDevice()">
                            显示全部
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="">
        <div class="wrapper-xs clearfix" style="margin: 10px 30px">
            <table class="table table-bordered table-condensed text-center table-striped">
                <thead class="bg-light lt" ng-hide="showedOrders.length <= 0">
                <tr>
                    <th><a href="" ng-click="sortBy('order_no')">设备号 </a></th>
                    <th><a href="" ng-click="sortBy('order_total_fee')">设备名</a></th>
                    <th><a href="" ng-click="sortBy('user_id')">存储空间:已用/总量 </a></th>
                    <th><a href="" ng-click="sortBy('create_by')">服务套餐</a></th>
                    <th><a href="" ng-click="sortBy('create_time')">交易记录 </a></th>
                    <th><a href="" ng-click="sortBy('create_time')">其他操作 </a></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="deviceItem in app.devices">
                    <td class="col-sm-1">
                        <span class="text-decorline">{{deviceItem.id}}
                        </span>
                    </td>
                    <td class="col-sm-2">{{deviceItem.deviceName}}</td>
                    <td class="col-sm-6">
                        <div class="row">
                            <div class="col-lg-10 f_Left" style="width: 400px;height: 12px;margin-top: 6px" id="{{deviceItem.id}}">
                                <progressbar value="{{deviceItem.spaceResource.spaceUsedRate}}"
                                             class="progress-xs bg-light dker control-label"
                                             animate="true" type="{{getProgressBarColor(deviceItem.spaceResource.spaceUsedRate)}}"></progressbar>
                            </div>
                            <span class="f_Left">{{deviceItem.spaceResource.spaceUsed.value}} {{deviceItem.spaceResource.spaceUsed.unit}}/{{deviceItem.spaceResource.spaceTotal.value}} {{deviceItem.spaceResource.spaceTotal.unit}}</span>
                            <a class="pull-right m-r-md" ng-click="syncResource(deviceItem.id)"><i class="glyphicon glyphicon-refresh"></i></a>
                        </div>
                    </td>
                    <td class="col-sm-1">
                        <a class="text-decorline text-success" ui-sref="app.devices_detail({id:deviceItem.id,name:deviceItem.deviceName})">查看
                        </a>
                    </td>
                    <td class="col-sm-1">
                        <a class="text-decorline text-success" ui-sref="app.devices_order({id:deviceItem.id,name:deviceItem.deviceName})">查看
                        </a>
                    </td>
                    <td class="col-sm-1">
                    <a class="text-decorline text-success" ui-sref="app.purchase_packages({id:deviceItem.id})">购买套餐
                    </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-center" ng-hide="showedOrders.length <= 0">
                <button class="btn btn-default" id="prev" ng-disabled="pageInfo.page <= 0"
                        ng-click="getDeviceListByPage('prev')">
                    上一页
                </button>
                <a>第{{pageInfo.page+1}}页</a>
                <button class="btn btn-default" ng-disabled="showedOrders.length < pageInfo.limit" id="next"
                        ng-click="getDeviceListByPage('next')">下一页
                </button>
            </div>
        </div>
    </div>
</div>