<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="deviceOrderController">
    <div class="bg-auto">
        <div class="wrapper-s b-b clearfix">
            <div class="pull-left m-t-sm m-b-sm">
                <span class="padder"> 设备交易记录 </span>
            </div>
            <div class="pull-left m-t-sm m-b-sm">
                <span class="padder b-l b-l-2x b-l-info" > </span>
            </div>
            <div class="f_Left row" style="width: 1000px">
                <div class="col-sm-2">
                    <label class="m-l-md w-xms m-t-sm m-b-xs font-bold f_Left" style="width: 200px">设备号: {{ OrderDeviceItem.deviceId}}</label>

                </div>
                <div class="col-sm-4">
                    <label class="m-l-xs m-t-sm m-b-xs font-bold f_Left"  style="width: 200px">设备名: {{ OrderDeviceItem.deviceName}} </label>

                </div>
            </div>
            <div class="pull-left" style="margin-left: 134px;">
                <a class="btn btn-sm btn-default w-xxs m-t-xs text-success" href="javascript:history.go(-1)">
                    返回
                </a>
            </div>
        </div>
    </div>

    <div class="" style="margin: 0 50px">
        <div class="">
            <div class="row-row">
                <div class="cell">
                    <div class="cell-inner">
                        <div class="wrapper">
                            <div class="panel panel-default">
                                <div class="panel-heading bg-light">
                                    <a class="m-b-sm font-bold text-md">交易记录</a>
                                </div>
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th style="width: 10%">交易人</th>
                                        <th style="width: 10%">交易类型</th>
                                        <th style="width: 10%">金额</th>
                                        <th style="width: 10%">交易时间</th>
                                        <th style="width: 10%">详情</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="order in OrderDeviceItem">
                                        <td class="text-limit w-sm">{{order.userName}}</td>
                                        <td class="text-limit w-sm">{{getTradeType(order.action)}}</td>
                                        <td class="text-limit w-sm">{{order.totalFee}}</td>
                                        <td class="text-limit w-sm">{{order.createTime}}</td>
                                        <td class="text-limit w-sm">
                                            <a class="text-decorline text-success"
                                               data-toggle="modal"
                                               data-target="#orderDetailModal"
                                               ng-click="getOrderDetail(order.id, order.action)">查看
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="orderDetailModal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">交易详情</h5>
                        </div>
                        <div class="modal-body clearfix">
                            <div class="row">
                                <label class="col-sm-3 control-label text-right">订单:</label>

                                <div class="col-sm-7">
                                    <a class="text-info form-control-static m-t-n-xs text-limit font-bold text-decorline"
                                       ng-bind="orderDetail.orderNo"
                                       ui-sref="app.order_detail({orderNo:orderDetail.orderNo})"></a>
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="row">
                                <label class="col-sm-3 control-label text-right">总金额:</label>

                                <div class="col-sm-7">
                                    <p class="form-control-static m-t-n-xs text-limit font-bold">
                                        {{orderDetail.totalFee}} RMB</p>
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="row">
                                <label class="col-sm-3 control-label text-right">状态:</label>

                                <div class="col-sm-7">
                                    <p class="form-control-static m-t-n-xs text-limit font-bold">
                                        {{getOrderState(orderDetail.state)}}</p>
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="row">
                                <label class="col-sm-3 control-label text-right">空间:</label>

                                <div class="col-sm-7">
                                    <p class="form-control-static m-t-n-xs text-limit">
                                        <span class="font-bold">{{orderDetail.space >= 9999999999 ? '无限' : orderDetail.space/1048576}} G/月</span>
                                    </p>
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="row">
                                <label class="col-sm-3 control-label text-right" ng-if="(orderAction == 'PURCHASE') || (orderAction == 'SIGNUP')">有效时间:</label>
								<label class="col-sm-3 control-label text-right" ng-if="(orderAction == 'CANCEL')">退订时间:</label>

                                <div class="col-sm-7">
                                    <p class="form-control-static m-t-n-xs text-limit">
                                        从
                                        <span class="font-bold">{{orderDetail.validTime.from}}</span>
                                    </p>

                                    <p class="form-control-static m-t-n-xs text-limit">
                                        到
                                        <span class="font-bold">{{orderDetail.validTime.to}}</span>
                                    </p>

                                    <p class="form-control-static m-t-n-xs text-limit">
                                        共
                                        <span class="font-bold">{{orderDetail.month}}</span>
                                        月
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                关 闭
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>