<!-- hbox layout -->
<div class="hbox hbox-auto-xs hbox-auto-sm bg-white " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.settings.hideAside = false;
  app.settings.hideFooter = true;
  " ng-controller="UserController">

    <!-- column -->
    <div class="col w-lg b-r">
        <div class="vbox">
            <div class="wrapper-xs b-b">
                <div class="input-group m-b-xxs">
          <span class="input-group-addon input-sm no-border no-bg">
            <i class="icon-magnifier text-md m-t-xxs"></i>
          </span>
                    <input type="text"
                           class="form-control input-sm no-border no-bg text-md"
                           placeholder="搜索所有用户"
                           ng-model="query">
                </div>
            </div>
            <div class="row-row">
                <div class="cell scrollable hover">
                    <div class="cell-inner">
                        <div class="m-t-n-xxs">
                            <div class="list-group list-group-lg no-radius no-border no-bg m-b-none">
                                <a ng-repeat="userItem in usersList | filter:query| orderBy:'userName'"
                                   class="h-list-item list-group-item m-l"
                                   ng-class="{'select m-l-none': userItem.selected }"
                                   ng-click="selectItem(userItem)">
                  <span class=" col-md-10 block text-ellipsis m-l-n text-md"
                        ng-class="{'m-l-none': userItem.selected }">
                    {{ userItem.userName }}
                    <span ng-hide="userItem.userName">NULL</span>
                  </span>
                                </a>
                            </div>
                        </div>
                        <div class="text-center pos-abt w-full" style="top:50%;"
                             ng-hide="(usersList | filter:query).length">暂无用户
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper b-t text-center">
                <a href class="btn btn-sm btn-default btn-addon" ng-click="createUser = true">
                    <i class="fa fa-plus fa-fw m-r-xs"></i>
                    新建用户
                </a>
            </div>
        </div>
    </div>
    <!-- /column -->

    <!-- column -->
    <div class="col bg-white-only">
        <div class="" ng-hide="createUser">
            <div class="panel panel-default no-border">
                <div class="cell">
                    <div class="cell-inner">
                        <div class="wrapper-lg">
                            <div class="hbox h-auto m-b-lg">
                                <div class="col text-center m-l-lg w-sm">
                                    <div class="thumb-lg avatar inline">
                                        <img src="../resource/img/a0.jpg">
                                    </div>
                                </div>
                                <div class="col v-middle h1 font-thin">
                                    <div ng-hide="userItem.editing" class="m-l-lg">{{userItem.userName}}</div>
                                    <div>
                                        <a class="btn btn-xs btn-default"
                                           style="color: #ec2121"
                                           data-toggle="modal"
                                           data-target="#deleteModal"
                                           ng-click="showDeleteUser(userItem)">删除用户</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default no-border">
                <div class="panel-body">
                    <table class="table m-b-none m-l-xxl w-modify">
                        <thead class="">
                        <tr>
                            <th class="w-sm">权限查询</th>
                            <th class="w-sm">状态</th>
                            <th class="w-sm">详情</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="instanceInfo in userInstancesInfo track by $index">
                            <td class="text-limit w-md">{{instanceInfo.permission.permissionName}}</td>
                            <td>
                                <div class="btn-group w-sm" ng-init="radioModel = instanceInfo.state">
                                    <label class="btn btn-xs {{(instanceInfo.state == 'GRANTED') ? 'btn-info active':'btn-default'}}"
                                           ng-model="radioModel"
                                           btn-radio="GRANTED"
                                           ng-click="changePermissionsState(true,instanceInfo,userItem)">
                                        <i class="fa fa-check text-active"></i>
                                        能
                                    </label>
                                    <label
                                            class="btn btn-xs {{(instanceInfo.state == 'UNGRANT') ? 'btn-info active':'btn-default'}}"
                                            ng-model="radioModel"
                                            btn-radio="UNGRANT"
                                            ng-click="changePermissionsState(false,instanceInfo,userItem)">
                                        <i class="fa fa-check text-active"></i>
                                        否
                                    </label>
                                </div>
                            </td>
                            <td class="text-limit w-md">{{instanceInfo.permission.permissionDesc}}</td>
                        </tr>
                        <tr ng-hide="userInstancesInfo.length">
                            <td class="text-limit w-md">暂无应用</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="m-b-lg m-t-xxl container wrapper-lg w-xxl" ng-show="createUser"
             style="border:1px solid rgb(202, 201, 201)">
            <div class="wrapper text-center m-b-lg">
                <strong>Doorbell支付平台用户创建</strong>
                <button type="button" class="close" ng-click="createUser = false"
                        aria-hidden="true">x
                </button>
            </div>
            <form name="form" class="form-validation">
                <div class="panel-body">
                    <p class="text-muted"></p>
                    <div class="form-group">
                        <label>用户名</label>
                        <input type="text" class="form-control" ng-model="name" placeholder="请输入用户名"required>
                    </div>
                    <div class="form-group">
                        <label>输入密码</label>
                        <input type="password" class="form-control" name="user.password" ng-model="password"
                               placeholder="请输入6-20位密码" ng-minlength="6" ng-maxlength="20" required>
                    </div>
                    <div class="form-group">
                        <label>确认密码</label>
                        <input type="password" class="form-control" name="confirm_password" required ng-model="repeatPassword"
                               placeholder="请再次输入密码" ui-validate=" '$value==password' " ui-validate-watch=" 'password' "
                               ng-minlength="6" ng-maxlength="20">
                        <span ng-show="form.confirm_password.$error.validator">输入密码不一致</span>
                    </div>
                </div>
                <button type="submit"
                        class="btn btn-lg btn-primary btn-block"
                        ng-click="createAdminUser()"
                        ng-disabled='password != repeatPassword'>确 定
                </button>

            </form>
        </div>
        <div class="modal fade" id="deleteModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">删除用户</h5>
                    </div>
                    <div class="modal-body clearfix">
                        <div class="col-lg-1">
                            <span class="text-2x fa fa-question-circle text-warning-dker"></span>
                        </div>
                        <div class="col-lg-11">
                            <span ng-bind="deleteHintMessage"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-dismiss="modal" ng-click="removeUser()">删 除</button>
                        <button class="btn btn-default" data-dismiss="modal">取 消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /column -->
</div><!-- /hbox layout -->