<div class="wrapper-md" ng-init="
  app.settings.asideFixed = false;
  app.settings.asideFolded = false;
  app.settings.container = false;
  app.hideFooter = false;">
  <div class="panel panel-default ">
    <div class="panel-heading font-bold">
      信息概览
    </div>
    <div class="panel-body">
      <div class="form-group">
        <div class="col-sm-2 control-label">
          <div class="avatar thumb-lg m-t">
            <img src="../resource/img/a0.jpg" alt="...">
          </div>
        </div>
        <div class="col-sm-10">
          <div class="form-group m-t-n-xs">
            <label class="col-sm-2 form-control-static">用户名:
            </label>
            <div class="col-sm-4">
              <p class="form-control-static " ng-bind="app.userInfo.userName"></p>
            </div>
            <div class="col-sm-4">
              <a class="text-color-href"
                 ui-sref="access.modifypasswd">修改密码
              </a>
            </div>
        </div>
      </div>
    </div>
      <div class="panel panel-default no-border" ng-hide="userItem.role == 'ADMIN' ? true : false">
        <div class="panel-body">
          <table class="table m-b-none m-l-xs w-modify m-t-xxl">
            <thead class="">
            <tr>
              <th class="w-sm">权限列表</th>
              <th class="w-sm">详情</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="permission in permissions track by $index">
              <td class="text-limit w-md">{{permission.permissionName}}</td>
              <td class="text-limit w-md">{{permission.permissionDesc}}</td>
            </tr>
            <tr ng-hide="permissions.length">
              <td class="text-limit w-md">暂无权限</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>