<div class="container w-modify w-auto-xs h-full"
     ng-init="app.settings.container = false;"
     ng-controller="PasswordController">
  <a href class="block m-b w-modify h2 text-center">DoorBell支付平台</a>
  <div class="m-b-lg m-t-xl">
    <form name="modify" class="form-validation" ng-hide="!stepShow[0]">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="h4">修 改 密 码</span>
        </div>
        <div class="panel-body">
          <p class="text-muted m-b-md">请输入登录密码和新的密码完成修改</p>
          <div class="form-group pull-in clearfix wrapper">
            <div class="col-sm-4 text-right m-t-xs">
              <label>输入密码：</label>
            </div>
            <div class="col-sm-8">
              <input type="password" class="form-control" name="oldPassword" ng-model="oldPassword" required>
            </div>
          </div>
          <div class="form-group pull-in clearfix wrapper">
            <div class="col-sm-4 text-right m-t-xs">
              <label>输入新的密码：</label>
            </div>
            <div class="col-sm-8">
              <input type="password"
                     class="form-control"
                     name="newPassword"
                     ng-model="newPassword"
                     minlength="6"
                     maxlength="20"
                     placeholder="输入6-20位密码"
                     required>
                <span class="text-danger form-control-spin" ng-show='form.password.$dirty && form.password.$invalid'>长度6到20位
            </span>
            </div>
          </div>
          <div class="form-group pull-in clearfix wrapper">
            <div class="col-sm-4 text-right m-t-xs">
              <label>确认新的密码：</label>
            </div>
            <div class="col-sm-8">
              <input type="password"
                     class="form-control"
                     name="confirmNewPassword"
                     required
                     ng-model="confirmNewPassword"
                     ui-validate=" '$value==newPassword' "
                     ui-validate-watch=" 'newPassword' ">
              <span ng-show='form.newPassword.$dirty && form.confirmNewPassword.$dirty'
                  >两次输入的新密码不同!
              </span>
            </div>
          </div>
        </div>
        <footer class="panel-footer text-center bg-light lter">
          <button type="submit"
                  class="btn btn-success m-l-lg"
                  ng-disabled='form.newPassword.$dirty && form.confirmNewPassword.$error.dontmatch'
                  ng-click="changePassword(modify.$invalid)"
                 >确 认
          </button>
          <button type="submit"
                  class="btn btn-default m-l-lg"
                  ui-sref="app.user_info"
                  >取 消
          </button>
        </footer>
      </div>
    </form>
    <div ng-hide="!stepShow[1]">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="h4" >完 成</span>
        </div>
        <div class="panel-body">
          <div class="form-group pull-in clearfix wrapper">
            <div class="col-sm-12 text-center m-t-xs">
              <label class="h3" >修改成功，请重新登录！</label>
            </div>
          </div>
        </div>
        <footer class="panel-footer text-center bg-light lter">
          <a class="btn btn-success"
             ui-sref="access.signin"
             >重 新 登 录
          </a>
        </footer>
      </div>
    </div>
  </div>
</div>