body{
    font-family: "Microsoft YaHei";
}

.buttons-tab .button.button-fat {
    height: 3.6rem;
    line-height: 3.6rem;
}
.list-block {
    margin: 0.7rem 0;
    font-size: .85rem;
}
.list-block .item-title.label {
    width: 30%;
}
.list-block .item-media+.item-inner {
    margin-left: .3rem;
}

.list-block .item-hover.active-state, html:not(.watch-active-state) .list-block .item-hover:active {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    background-color: #d9d9d9
}

.list-block p{
    margin: 0;
    padding: 0 0 0 .25rem;
    color: #a9a9a9;
    font-size: .85rem;
}
.content-block-title {
    margin: 0.7rem .75rem .5rem;
}
.tab-icon .iconfont{
    display: block;
    position: relative;
    margin: 0 auto;
    top: 0.4rem;
    line-height: 1.6rem;
}
.tab-icon .tab-label{
    display: block;
    position: relative;
    top: 0.2rem;
    line-height: 1.6rem;
}
.tab-blue {
    background-color: #0894ec;
    color: #FFFFFF;
}
.tab-blue.active{
    background-color: #0894ec;
    color: #FFFFFF;
}


@font-face {font-family: "iconfont";
    src: url('../font/iconfont.eot?t=1468935971'); /* IE9*/
    src: url('../font/iconfont.eot?t=1468935971#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff?t=1468935971') format('woff'), /* chrome, firefox */
    url('../font/iconfont.ttf?t=1468935971') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg?t=1468935971#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:1rem;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon-shouji:before { content: "\e647"; }
.icon-lianxiren:before { content: "\e6c8"; }
.icon-shenfenzheng:before { content: "\e675"; }
.icon-xiangji:before { content: "\e619"; }
