<div class="navbar-header box-shadow bg-black">
  <a class="navbar-brand text-md">
    <span class="hidden-folded">Newooeyes支付系统</span>
  </a>
</div>

<div class="collapse pos-rlt navbar-collapse box-shadow bg-black">
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown" dropdown>
      <a href class="dropdown-toggle clear" dropdown-toggle>
        <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
          <img src="../resource/img/a0.jpg" alt="...">
          <i class="on md b-white bottom"></i>
        </span>
        <span class="hidden-sm hidden-md" ng-bind="app.userInfo.userName"></span>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu animated fadeInRight w">
        <li>
          <a ui-sref="app.user_info">
            <span>个人中心</span>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a ng-click="logout()">退出</a>
        </li>
      </ul>
    </li>
  </ul>
</div>