<ul class="nav">
  <li ui-sref-active="active" ng-show="showNavList[0]">
    <a ui-sref="app.admin_users" class="auto">
      <i class="icon-user icon text-success"></i>
      <span class="font-bold">用户管理</span>
    </a>
  </li>
  <li ng-show="showNavList[1]">
    <a ui-sref="app.permission" class="auto">
      <i class=" glyphicon glyphicon-signal text-success"></i>
      <span class="font-bold">权限管理</span>
    </a>
  </li>
  <li ng-show="showNavList[4]">
    <a class="auto" ui-sref="app.resource_list">
      <i class="glyphicon glyphicon-align-right text-success"></i>
      <span class="font-bold">商品管理
      </span>
    </a>
  </li>

  <li>
    <a class="auto">
      <i class="glyphicon glyphicon-tasks icon text-success"></i>
      <span class="font-bold">设备管理
      </span>
    </a>
    <ul class="nav nav-sub dk">
      <li>
        <a ui-sref="app.devices" class="text-limit" title="">
          设备状态
        </a>
      </li>
      <li>
        <a ui-sref="app.purchase_packages({id:null})" class="text-limit" title="">
          购买套餐
        </a>
      </li>
    </ul>
  </li>

  <li>
    <a class="auto">
      <i class="glyphicon glyphicon-pencil icon text-success"></i>
      <span class="font-bold">订单管理
      </span>
    </a>
    <ul class="nav nav-sub dk">
      <li>
        <a ui-sref="app.order_info" class="text-limit" title="">
          订单查询
        </a>
      </li>
      <li ng-show="showNavList[2]">
        <a ui-sref="app.refund" class="text-limit" title="">
          退款管理
        </a>
      </li>
      <li>
        <a ui-sref="app.account_query" class="text-limit" title="">
          对账管理
        </a>
      </li>
    </ul>
  </li>

  <li>
    <a class="auto">
      <i class="glyphicon glyphicon-stats icon text-success"></i>
      <span class="font-bold">数据统计
      </span>
    </a>
    <ul class="nav nav-sub dk" ng-model="nav_name">
      <li>
        <a ui-sref="app.summary({id:1})" class="text-limit" title="">
          收支统计
        </a>
      </li>
      <li>
        <a ui-sref="app.summary({id:2})" class="text-limit" title="">
          订单统计
        </a>
      </li>
      <li>
        <a ui-sref="app.summary_mod" class="text-limit" title="">
          商品销售统计
        </a>
      </li>
      <li>
        <a ui-sref="app.summary({id:4})" class="text-limit" title="">
          设备消费统计
        </a>
      </li>
    </ul>
  </li>
</ul>