<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
               http://www.springframework.org/schema/context
               http://www.springframework.org/schema/context/spring-context-4.0.xsd
               http://www.springframework.org/schema/tx
               http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
               http://www.springframework.org/schema/aop
               http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
               http://www.springframework.org/schema/mvc
               http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
               ">
	<context:component-scan base-package="cn.wisdom.lottery" />

	<mvc:annotation-driven />
	
	<aop:aspectj-autoproxy />
	
	<context:property-placeholder location="classpath:redis.properties,classpath:app.properties" />

	<!-- DAO -->
	<import resource="classpath:config-dao.xml" />

	<!-- Interceptor -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/user/**" />
			<mvc:mapping path="/lottery/**" />
			<mvc:exclude-mapping path="/lottery/period/current" />
			<mvc:exclude-mapping path="/lottery/paid" />
			<mvc:exclude-mapping path="/prize/lastOpen" />
			<mvc:exclude-mapping path="/prize/reopen" />
			<bean class="cn.wisdom.lottery.api.interceptor.UserAccessInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
</beans>
