<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${log.path}/server.log</file>

		<encoder>
			<pattern>%date %level [%thread] [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="PaymentServiceAppender" class="ch.qos.logback.core.FileAppender">
		<file>${log.path}/paymentService.log</file>

		<encoder>
			<pattern>%date %level [%thread] [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="AlipayNotifyAppender" class="ch.qos.logback.core.FileAppender">
		<file>${log.path}/alipayNotify.log</file>

		<encoder>
			<pattern>%date %level [%thread] [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="PaymentServiceLogger" level="DEBUG">
		<appender-ref ref="PaymentServiceAppender" />
	</logger>
	<logger name="AlipayNotifyLogger" level="DEBUG">
		<appender-ref ref="AlipayNotifyAppender" />
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

</configuration>