<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>测试平台</title>
    <link rel="stylesheet" href="css/common.css" type="text/css"/>
    <script src="../public/js/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/service/TestService.js"></script>
    <script src="js/controller/TestController.js"></script>
</head>
<body>
    <div ng-app="testCase" ng-controller="testController">
    <div style="margin-left: 400px; margin-top: 30px">
        <table id="common">
            <thead>
            <tr>
                <th>客户端类型</th>
                <th>设备Id</th>
                <th>token</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" ng-model="clientType"/></td>
                <td><input type="text" ng-model="deviceId"/></td>
                <td><input type="text" ng-model="token" class="minwidth"/></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="float: left">
        <table>
            <thead>
                <tr>
                    <th>描述</th>
                    <th>输入参数</th>
                    <th style="min-width: 50px">操作</th>
                    <th>执行结果</th>
                </tr>
            </thead>
            <tbody ng-repeat="api in Apis">
                <tr>
                    <td>{{api.description}}</td>
                    <td>
                        <table>
                            <thead>
                                <tr>
                                    <th>参数</th>
                                    <th>值</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="param in api.parameters">
                                    <td>{{param.description}}</td>
                                    <td><input type="text" ng-model="param.paramValue"/></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="min-width: 50px"><input type="button" value="RUN" ng-click="runTest(api)"/></td>
                    <td>{{api.result}}</td>
                </tr>
            </tbody>
        </table>
    </div>
        <div style="float: left">
            <table>
                <thead>
                    <tr>
                        <tr>
                            <td>交易流程测试</td>
                            <td><input type="button" value="RUN" ng-click="runFlow()"/></td>
                        </tr>
                        <tr>
                            <th>步骤</th>
                            <th>结果</th>
                        </tr>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="status != null">
                        <td>查询设备状态</td>
                        <td>{{status}}</td>
                    </tr>
                    <tr ng-if="createOrder != null">
                        <td>购买套餐</td>
                        <td>{{createOrder}}</td>
                    </tr>
                    <tr ng-if="unpaid != null">
                        <td>获取待支付订单</td>
                        <td>{{unpaid}}</td>
                    </tr>
                    <tr ng-if="pay != null">
                        <td>支付订单</td>
                        <td>{{pay}}</td>
                    </tr>
                    <tr ng-if="refund != null">
                        <td>申请退订</td>
                        <td>{{refund}}</td>
                    </tr>
                    <tr ng-if="revokeRefund != null">
                        <td>撤销退订申请</td>
                        <td>{{revokeRefund}}</td>
                    </tr>
                    <tr ng-if="reRefund != null">
                        <td>再次退订申请</td>
                        <td>{{reRefund}}</td>
                    </tr>
                    <tr ng-if="refundSuccess != null">
                        <td>退订成功</td>
                        <td>{{refundSuccess}}</td>
                    </tr>
                    <tr ng-if="actionList != null">
                        <td>查询交易记录</td>
                        <td>{{actionList}}</td>
                    </tr>
                    <tr ng-if="actionDetail != null">
                        <td>查询交易详情</td>
                        <td>{{actionDetail}}</td>
                    </tr>
                    <!--<tr>
                        <td>查询设备状态</td>
                        <td>deviceId: {{deviceId}}</td>
                        <td>{{initStatus}}</td>
                    </tr>
                    <tr>
                        <td>购买套餐</td>
                        <td>
                            <input type="text" ng-model="space" placeholder="空间G"/><br/>
                            <input type="text" ng-model="flow" placeholder="流量H"/><br/>
                            <input type="text" ng-model="month" placeholder="时间M"/><br/>
                            <input type="text" ng-model="startTime" placeholder="生效时间(now|next_month)"/><br/>
                        </td>
                        <td>orderNo: {{orderNo}}</td>
                    </tr>
                    <tr>
                        <td>查询待支付订单</td>
                        <td>deviceId: {{deviceId}}</td>
                        <td>UnpaidOrders: {{unpaidOrders}}</td>
                    </tr>
                    <tr>
                        <td>支付订单</td>
                        <td>orderNo: {{orderNo}}</td>
                        <td>profileId: {{profileId}}</td>
                    </tr>
                    <tr>
                        <td>查询设备状态</td>
                        <td>deviceId: {{deviceId}}</td>
                        <td>deviceStatus: {{afterPayStatus}}</td>
                    </tr>
                    <tr>
                        <td>退订</td>
                        <td>profileId: {{profileId}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>撤销退订</td>
                        <td>profileId: {{profileId}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>查询设备状态</td>
                        <td>deviceId: {{deviceId}}</td>
                        <td>deviceStatus: {{afterRevokeRefund}}</td>
                    </tr>
                    <tr>
                        <td>退订</td>
                        <td>profileId: {{profileId}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>退款成功</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>查询设备状态</td>
                        <td>deviceId: {{deviceId}}</td>
                        <td>deviceStatus: {{afterRefund}}</td>
                    </tr>
                    <tr>
                        <td>查询交易记录</td>
                        <td>deviceId: {{deviceId}}</td>
                        <td>actionId: {{actionId}}</td>
                    </tr>
                    <tr>
                        <td>查询交易详情</td>
                        <td>actionId: {{actionId}}</td>
                        <td></td>
                    </tr>
                </tbody>-->
            </table>
        </div>
    </div>
</body>
</html>